<h2 class="info-header">Information Center</h2>
<div class="infoRow">
        <mat-card class="info-box" >
            <mat-card-title> Administration Panel  </mat-card-title>
            <mat-card-content> 
            <b>Dashboard:</b> On This page all of youre learning acheivements will be displayed <br>
            <b>Admin:</b> On this page The administrator will be allowed to add / edit and delete categories which will be displayed to the user<br>
            <b>Lets play:</b> The main game selector page, select your desired game to play   
            </mat-card-content>
        </mat-card>

        <mat-card class="info-box" >
            <mat-card-title> Word-Sorter </mat-card-title>
            <mat-card-content>This game will require the user to understand word translations, and based on that understanding, they will have to match a given word to its correct translation </mat-card-content>
        </mat-card>

        <mat-card class="info-box" >
            <mat-card-title> Mixed letters </mat-card-title>
            <mat-card-content> The main purpose of this game is to reconstruct words based on their correct phraseology </mat-card-content>
        </mat-card>
</div>